<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="gomocart.application.com.gomocart">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        tools:ignore="GoogleAppIndexingWarning"
        android:allowBackup="true">

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />



        <activity
            android:name=".ProsesCheckoutActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/AppThemeGomocart" />

        <activity
            android:name=".DetailProdukActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeGomocart" />

        <activity
            android:name=".KonfirmasiActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/AppThemeGomocart" />

        <activity
            android:name=".LanguageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/AppThemeGomocart" />

        <activity
            android:name=".AlamatActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/AppThemeGomocart" />

        <activity
            android:name=".KurirActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/AppThemeGomocart" />

        <activity
            android:name=".DetailPesananActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/AppThemeGomocart" />

        <activity
            android:name=".DetailGalleryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name" />

        <activity
            android:name=".DetailSlideGalleryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name" />

        <activity
            android:name=".DetailPengirimanActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name" />

        <activity
            android:name=".AktivasiSmsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name" />

        <activity
            android:name=".AmbilFotoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeGomocart" />

        <activity
            android:name=".FilterProdukActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".DetailInformasiActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MessageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".EditAlamatActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeGomocart" />

        <activity
            android:name=".DanaPaymentActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeGomocart" />

        <activity android:name="gomocart.application.com.dana.DanaActivity" />

        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

        <activity
            android:name=".HelpCenter"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeGomocart" />

    </application>

</manifest>